.About{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    height: 100vh;
    padding: 0 5%;
    border-bottom: solid 1px #c3c3c355;
}
.sectionPage{
    padding: 0 5%;
    border-bottom: solid 1px #c3c3c355;
    padding-bottom: 30px;
}
.User-name{
    font-size: 7rem;
    font-weight: bolder;
    color: #222;

}
.User-name span{
    color: #000591
}
.User-address{
    font-size: 1.6rem;
    font-weight: 500;
}
.User-description{
    font-size: 1.6rem;
    font-weight: 500;
}
.SocialMediaList{
    display: flex;
    font-size: 5rem;
    gap: 20px
}
.SocialMediaList .fa-brands:hover{
    color: #000591;
}