li{
    text-decoration: none;
    list-style: none;
}
.SideBar{
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;
    height: 100%;
    width: 275px;
    background-color: #000591;
}
.NavBar{
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-weight: bold;
    color: #6a68c9;
    font-size: 1.8rem;
}
.NavBar li {
    height: 20px;
}
.NavBar li a{
    color: #6a68c9;
    cursor: pointer;
    transition: 0.3s;
}
.NavBar li a:hover{
    color: #9997da;
    font-size: 2rem;
}
.UserPicture img{
    width: 175px;
    border-radius: 50%;
}
